*{
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none;
}
:root{
    --gray-dark:#2F303A;
    --gray-light:#F5F4FA;
    --wight:white;
    --mt-color:#212121;
    --nt-color:#757575;
    --blue:#2196F3;
    --akcent: #188CE8;
    --icon1:#AFB1B8;
    --ft-color:rgba(255, 255, 255, 0.6);
    --timing-function:cubic-bezier(0.4, 0, 0.2, 1);

}

h1,
h2,
h3,
h4,
h5,
h6,
p{
    margin: 0;
}
 
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
img{
    display: block;
}
body{
    font-family: 'Roboto', sans-serif;
    color: var(--mt-color);
}
button{
    cursor: pointer;
}

.container{
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
  }

.header-container{
    display: flex;
    align-items: center;
}

.header {
    background-color: var(--wight);
    padding-top: 32px;
    padding-bottom: 32px;
    border-bottom: 1px solid #ECECEC;
}
.logo {
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    font-weight: 700;
font-size: 26px;
line-height: calc(31/26);
letter-spacing: 0.03em;
color: var(--blue);
}
.l-header{
    color: #000000;

}
.header-nav{
    display: flex;
    gap: 50px;
    margin-left: 93px;
}
.header-nav .header-nav-link{
    position: relative;
}
.header-nav-link.current::after{
    position: absolute;
  bottom: -39px;
  right: 0px;
  content: "";
  width: 100%;
  height: 4px;
  background-color: var(--blue);
  border-radius: 2px;
}
.header-nav-link.current{
    color: var(--blue);
}
.header-contact{
    display: flex;
    gap: 50px;
    margin-left: auto;
}
.header-nav-link,
.header-contact-link {
font-weight: 500;
font-size: 14px;
line-height: calc(16/14);
letter-spacing: 0.02em;
text-decoration: none;
transition: color 250ms var(--timing-function);}
.header-nav-link{
color: var(--mt-color);
}
.header-contact-link{
    color: var(--nt-color);
    display: flex;
    gap: 10px;
    align-items:center;
}

.header-icon{
    fill: currentColor;
}

.header-nav-link:hover,
.header-nav-link:focus,
.header-nav-link:active,
.header-contact-link:hover,
.header-contact-link:focus,
.header-contact-link:active{
    color:var(--blue);
}
.section{
    padding-top: 94px;
    padding-bottom: 94px;
}
.one {
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/Img0.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--gray-dark);
    background-size: 1600px;
    padding-top: 200px;
    padding-bottom: 200px;

}
.sec-one-tit {
    width: 696px;
    margin: 0 auto;
    font-weight: 900;
font-size: 44px;
line-height: calc(60/44);
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
color: #FFFFFF;
margin-bottom: 30px;
}
.sec-one-bt,
.form-bt,
.footer-bt {
background-color: var(--blue); 
font-weight: 700;
font-size: 16px;
line-height: calc(30/16);
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.06em;
color: var(--wight);
border: none;
display: block;
margin: 0 auto;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
transition: background-color 250ms var(--timing-function);
}

.sec-one-bt:hover,
.form-bt:hover,
.footer-bt:hover,
.sec-one-bt:focus,
.form-bt:focus,
.footer-bt:focus{
    background-color: var(--akcent);
}  
.sec-one-bt{
    padding: 10px 32px;
}
.benefits,
.do,
.projects,
.clients {
    background: var(--wight);
}
.benefits{
    padding-bottom: 0px;
}
.visually-hidden{
    position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.sec-benefits-list,
.sec-do-list,
.sec-team-list{
    display: flex;
    gap: 30px;
}
.sec-benefits-item{
    width: 270px;
}
/*.sec-benefits-item::before{
    display: block;
    content: "";
    height: 120px;
    background-color: chartreuse;
}
/*.antenna::before{
}
.clock::before{
}
.diagram::before{
}
.astronaut::before{
}*/

.benefits-icon-box{
    width: 270px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--gray-light);
    border-radius: 4px;
}

/*.benefits-icon{}*/
.sec-benefits-tit {
    font-weight: 700;
font-size: 14px;
line-height: calc(16/14);
letter-spacing: 0.03em;
text-transform: uppercase;
margin-bottom: 10px;
margin-top: 30px;
}
.sec-benefits-text,
.check-text {
    font-weight: 400;
font-size: 14px;
line-height: calc(24/14);
letter-spacing: 0.03em;
color: var(--nt-color);
}

/*.sec-do {
}*/
.sec-do-tit,
.sec-team-tit,
.sec-clients-tit {
font-weight: 700;
font-size: 36px;
line-height: calc(42/36);
text-align: center;
letter-spacing: 0.03em;
margin-bottom: 50px;
}
.do-list-item{
position: relative;
}
.sec-do-label{
    position: absolute;
    bottom: 0;
    left: 0;
    margin:0;
    width: 100%;
    background-color: rgba(47, 48, 58, 0.8);
    text-align: center;
    padding-top: 27px;
    padding-bottom: 27px;
}
.team {
background-color: var(--gray-light);
}

.sec-team-items{
    background: var(--wight);
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;
}
.sec-team-cart{
    padding-top: 30px;
    padding-bottom: 30px;
}
.sec-team-nome {
font-weight: 500;
font-size: 16px;
line-height: calc(19/16);
text-align: center;
letter-spacing: 0.03em;
margin-bottom: 10px;
}
.sec-team-text {
    font-weight: 400;
font-size: 16px;
line-height: calc(19/16);
text-align: center;
letter-spacing: 0.03em;
color: var(--nt-color);
margin-bottom: 16px;
}
.team-soc-list,
.footer-soc-list{
    display: flex;
    gap: 10px;
}
.team-soc-list{
    justify-content: center;
}
.sec-team-soc,
.footer-soc-item{
    width: 44px;
    height: 44px;
}
.sec-team-link,
.footer-soc-link{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sec-team-link{
    background-color:var(--wight);
    color: var(--nt-color);
    transition: color 250ms var(--timing-function), background-color 250ms var(--timing-function);
}
.team-soc-icon{
    fill: currentColor;
}

.sec-team-link:hover,
.sec-team-link:focus,
.footer-soc-link:hover,
.footer-soc-link:focus{
    background-color: var(--blue);
    color: var(--wight);
}

.sec-clients-list {
    display: flex;
    justify-content: center;
    gap: 30px;
}
.sec-clients-items {
    width: 170px;
    height: 92px;
}
.sec-clients-link {
    width: 100%;
    height: 100%;
    background-color: var(--wight);
    border: 1px solid var(--icon1);
    color: var(--icon1);
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: color 250ms var(--timing-function), border 250ms var(--timing-function);
}
.cleints-icon {
    fill: currentColor;
}
.sec-clients-link:hover,
.sec-clients-link:focus{
border: 1px solid var(--blue);
color: var(--blue);
}

.footer{
    background-color: var(--gray-dark);
    padding-top: 60px;
    padding-bottom: 60px;
}
.footer-content{
    display: flex;
    gap: 70px;
    justify-content: flex-start;
    align-items: baseline;

}
.l-footer {
    color: #FFFFFF;
}

.footer-adress,
.footer-link,
.check-link {
    font-weight: 400;
    font-size: 14px;
    line-height: calc(24/14);
 letter-spacing: 0.03em;
 text-decoration: none;
 font-style: normal;
}

.footer-adress{
    color: var(--wight);

}
.footer-link,
.footer-input {
    color: var(--ft-color);
}
.footer-item {
margin-top: 20px;
}
.footer-items{
    margin-top: 9px;
}
.footer-link,
.footer-adress{
    transition: color 250ms var(--timing-function);
}
.footer-adress:hover,
.footer-adress:focus,
.footer-adress:active,
.footer-link:hover,
.footer-link:focus,
.footer-link:active{
    color: var(--blue);  
}

.footer-tit,
.sec-do-label{
    font-weight: 700;
font-size: 14px;
line-height: calc(16/14);
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--wight);
}
.footer-soc-list{
    margin-top: 20px;
}
.footer-soc-link{
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color 250ms var(--timing-function);}
.footer-soc-icon{
    fill: var(--wight);
}

.footer-form-div{
    margin-left: 23px;
}
.footer-form{
    display: flex;
    gap: 12px;
    margin-top: 20px;
    background-color: var(--gray-dark);
}

.footer-input{
    width: 358px;
    font-weight: 400;
font-size: 16px;
line-height: calc(20/16);
letter-spacing: 0.03em;
padding: 15px 16px 15px;
background-color: var(--gray-dark);
border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    transition: border-color 250ms var(--timing-function);
}
.footer-label:hover .footer-input,
.footer-label:focus .footer-input{
    border-color: var(--blue);
    cursor: pointer;
}
.footer-input:focus{
    border-color: var(--blue);
}
.footer-bt{
    position: relative;
    padding: 10px 62px 10px 28px;
}
.footer-bt-icon{
    fill: currentColor;
    position: absolute;
    top: 13px;
    left: 148px;
}


.sec-filter-list {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-bottom: 50px;
   }
.sec-filter-bt {
    font-weight: 500;
font-size: 16px;
line-height: calc(26/16);
text-align: center;
letter-spacing: 0.03em;
background-color: var(--gray-light);
border: none;
border-radius: 4px;
padding: 6px 25px;
transition: background-color 250ms var(--timing-function), 
color 250ms var(--timing-function),
box-shadow 250ms var(--timing-function);
}
.sec-filter-bt:hover,
.sec-filter-bt:focus,
.sec-filter-bt:active {
    color: #FFFFFF;
    background-color: var(--blue);
    box-shadow:  0px 2px 2px 0px rgba(0, 0, 0, 0.12),  0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
    border: none;
}



.sec-projects-list {
    display: flex;
   flex-wrap: wrap;
   gap: 30px;
   padding: 0;
}
.sec-projects-item{
    flex-basis: calc((100% - 60px)/3);
    transition: box-shadow 250ms var(--timing-function);
}
.sec-projects-cart{
    padding: 20px 24px;
    border-bottom:1px solid #EEEEEE; 
    border-left: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
}
.sec-projects-nome {
    font-weight: 700;
font-size: 18px;
line-height: calc(36/18);
letter-spacing: 0.06em;
margin-bottom: 4px;
color: var(--mt-color);
}
.sec-projects-text {
    font-weight: 400;
font-size: 16px;
line-height: calc(30/16);
letter-spacing: 0.03em;
color: var(--nt-color);
}

.projects-link{
    text-decoration: none;
    font-style: normal;
}
.sec-projects-item:hover,
.sec-projects-item:focus{
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);

}

.projects-img{
    position: relative;
    overflow: hidden;
}

.projects-overlay{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color:var(--blue);
    opacity: 0.9;
    padding-top: 63px;
    padding-left: 24px;
    text-align: left;
    font-weight: 400;
font-size: 18px;
line-height: calc(28/18);
letter-spacing: 0.03em;
color: var(--wight);
transform: translateY(101%);
transition: transform 500ms var(--timing-function);
}

.sec-projects-item:hover .projects-overlay{
    transform: translateY(0)
}

.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:rgba(0, 0, 0, 0.2);
    opacity: 1;
    transition: opacity 500ms var(--timing-function);
}
.backdrop.is-hidden{
    opacity: 0;
    pointer-events: none;
}

.modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 580px;
    width: 530px;
    background-color: var(--wight);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 4px;
/*transform: scaleX(100%);*/
transition: transform 200ms var(--timing-function) 500ms;
}
.moda.backdrop.is-hidden{
    transform: translate(-5000%, -50%);
}
.modal-button{
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    background-color: var(--wight);
    color: #000000;
    transition: color 250ms var(--timing-function);
}

.modal-button:hover,
.modal-button:focus{
    color: var(--blue);
}
.modal-icon{
    fill: currentColor;
}
.modal-form{

    width: 100%;
    padding: 40px;
}
.form-tit{
    font-weight: 700;
font-size: 20px;
line-height: calc(23/20) ;
text-align: center;
letter-spacing: 0.03em;
margin-bottom: 12px;
}

.form-label,
.comment-label{
    display: flex;
    flex-direction: column; 
}
.form-label{
    position: relative;
    margin-bottom: 10px; 
    color: var(--mt-color); 
    transition: color 2500ms var(--timing-function);
}
.form-label:focus,
.form-label:active{
    color: var(--blue);
}
.form-label:nth-of-type(4n){
    margin-bottom: 0;
}


.form-input:focus,
.comment-area:focus{
    border-color: var(--blue);
    cursor: pointer;
}
.form-input,
.comment-area{
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
}
.form-input,
.comment-area{
    transition: border-color 250ms var(--timing-function);
}
.form-input{
    padding: 12px 42px 12px;
}

.form-icon{
    position: absolute;
    top: 29px;
    left: 12px;
    fill: currentColor;
    transition: fill 250ms var(--timing-function);
}
.form-input:focus + .form-icon{
    fill: var(--blue);
}

.comment-area{
    resize: none;
    padding: 12px 16px;
}
.comment-area::placeholder{
    color: rgba(117, 117, 117, 0.5);
}


.form-input,
.comment-area,
.form-text,
.comment-area{
    font-weight: 400;
    font-size: 12px;
    line-height: calc(14/12);
    letter-spacing: 0.01em; 
}

.form-text{
    color: var(--nt-color);
    margin-bottom: 4px;
}

.check-label{
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 30px;
}
.check-link{
    color: var(--blue);
    position: relative;
}
.check-link::after{
    position: absolute;
    bottom: 0.5px;
    right: 0;
    content: "";
    width: 100%;
    height: 1px;
    background-color: var(--blue);
}
.form-bt{
padding: 10px 52px;
}
.check-icon{
    display: inline-block;
    border-radius: 4px;
    border: 2px solid var(--mt-color);
    transition: border-color 250ms var(--timing-function), background-color 250ms var(--timing-function);
}

.check-input:checked + .check-icon{
    background-color: var(--blue);
    border-color: var(--blue);
}
.check-input{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}
input:-webkit-autofill {
    box-shadow: inset 0 0 0 50px var(--wight);
    -webkit-text-fill-color: var(--mt-color); 
}