
.clients {
    background: var(--wight);
}

.sec-clients-tit {
    font-weight: 700;
    font-size: 36px;
    line-height: calc(42/36);
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
}

.sec-clients-list {
    display: flex;
    justify-content: center;
    gap: 30px;
}
.sec-clients-items {
    width: 170px;
    height: 92px;
}
.sec-clients-link {
    width: 100%;
    height: 100%;
    background-color: var(--wight);
    border: 1px solid var(--icon1);
    color: var(--icon1);
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: color 250ms var(--timing-function), border 250ms var(--timing-function);
    &:hover,
    &:focus{
        border: 1px solid var(--blue);
        color: var(--blue);
    };
}
.cleints-icon {
    fill: currentColor;
}
