
.header-container{
    display: flex;
    align-items: center;
}

.header {
    background-color: var(--wight);
    padding-top: 32px;
    padding-bottom: 32px;
    border-bottom: 1px solid #ECECEC;
    
}

.l-header{
    color: #000000;
}
.header-nav{
    display: flex;
    gap: 50px;
    margin-left: 93px;
}
.header-nav .header-nav-link{
    position: relative;
}

.header-nav-link.current{
    color: var(--blue);
    &::after{
        position: absolute;
      bottom: -39px;
      right: 0px;
      content: "";
      width: 100%;
      height: 4px;
      background-color: var(--blue);
      border-radius: 2px;
    };
}
.header-contact{
    display: flex;
    gap: 50px;
    margin-left: auto;
}
.header-nav-link,
.header-contact-link {
font-weight: 500;
font-size: 14px;
line-height: calc(16/14);
letter-spacing: 0.02em;
text-decoration: none;
transition: color 250ms var(--timing-function);
&:hover, 
:focus, 
:active {color:var(--blue)};
}
.header-nav-link{
color: var(--mt-color)
}
.header-contact-link{
    color: var(--nt-color);
    display: flex;
    gap: 10px;
    align-items:center;
}

.header-icon{
    fill: currentColor;
}